* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  text-align: black;
  position: relative;
  display: inline-flex;
}
header h1 {
  display: fixed;
}

.container {
  height: auto;
  width: 50vw;
  border: 1px solid black;
  position: center;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: space-between;
  margin: 2px;
}

.information {
  background-color: #d6d6d6;
  flex-basis: 100%;
  border: 0.2em solid black;
  border-top: 0.2em solid black;
}

.contentRow {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-left: 1em;
  align-items: center;
  border: 0.2em solid black;
  border-top: 0;
}

.characterName {
  font-weight: bold;
  justify-content: center;
  padding: 0;
}
.bounsRate {
  background-color: #d6d6d6;
}

.contentImage {
  width: 18%;
}

.raidContentRow {
  display: flex;
}
.weeklyContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: 0.2em solid black;
  border-right: 0.2em solid black;
}
.raidContentImage {
  width: 36%;
  display: block;
  padding-top: 4px;
}

.contentRow {
  border-bottom: 0.2em solid black;
}

.contentRow > .bounsRate {
  width: 20%;
  text-align: center;
  border: none;
  font-size: 1em;
  font-weight: bold;
}
.weeklyContent {
  width: 50%;
}
